@charset "UTF-8";
body {
  background-color: cornsilk; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

h1 {
  margin-top: 6%;
  font-size: 60px;
  color: #8c710e; }

.nav-link:hover {
  font-weight: 700; }

/*main*/
.Introduccion__index {
  height: 800px; }

.Introduccion {
  max-width: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "años años" "mision mision"; }

.Introduccion__años {
  justify-content: center;
  width: 80%;
  padding: 15px;
  margin: 15px;
  margin-left: 10%;
  font-style: italic;
  border-style: solid;
  border-color: #8c710e;
  color: #8c710e;
  grid-area: años; }

.Introduccion__mision {
  justify-content: center;
  width: 80%;
  padding: 15px;
  margin: 15px;
  margin-left: 10%;
  font-style: italic;
  border-style: solid;
  border-color: #8c710e;
  color: #8c710e;
  grid-area: mision; }

form {
  width: 40%;
  margin-left: 30%; }

/*area Contable*/
.contenedor__contable {
  padding: 5px;
  margin: 5px;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "facturacion monotributista" "facturacion monotributista" "ingresos ganancias" "ingresos ganancias" "empleados empleados"; }

.contable__facturacion {
  padding: 5px;
  margin: 5px;
  grid-area: facturacion; }

.contable__monotributistas {
  padding: 5px;
  margin: 5px;
  grid-area: monotributista; }

.contable__ingresosBrutos {
  padding: 5px;
  margin: 5px;
  grid-area: ingresos; }

.contable__ganancias {
  padding: 5px;
  margin: 5px;
  grid-area: ganancias; }

.contable__empleados {
  padding: 5px;
  margin: 5px;
  grid-area: empleados; }

.h2Contable, .h2Juridica, .h2Sucesiones {
  padding: 10px;
  margin: 10px;
  color: goldenrod;
  text-decoration: underline;
  font-size: x-large;
  text-align: center; }

.pContable, .pJuridica, .pSucesiones {
  padding: 6px;
  font-style: oblique; }

.contenedor__juridica {
  padding: 5px;
  margin: 5px;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "jubilacion sociedades" "jubilacion sociedades" "civiles seguro" "civiles seguro"; }

.juridica__jubilaciones {
  padding: 5px;
  margin: 5px;
  grid-area: jubilacion; }

.juridica__sociedades {
  padding: 5px;
  margin: 5px;
  grid-area: sociedades; }

.juridica__seguros {
  padding: 5px;
  margin: 5px;
  grid-area: seguro; }

.juridica__civiles {
  padding: 5px;
  margin: 5px;
  grid-area: civiles; }

/* Seccion Sucesiones */
.contenedor__sucesiones {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "pensiones inmobiliarias" "pensiones inmobiliarias" "automotores testamentos" "automotores testamentos"; }

.contenedor__sucesiones .Pensiones {
  padding: 5px;
  grid-area: pensiones; }

.contenedor__sucesiones .Inmobiliarias {
  padding: 5px;
  grid-area: inmobiliarias; }

.contenedor__sucesiones .Automotores {
  padding: 5px;
  grid-area: automotores; }

.contenedor__sucesiones .Testamentos {
  padding: 5px;
  grid-area: testamentos; }

/*Footer*/
footer {
  background-color: black;
  height: 300%; }

#pieDePagina {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-right: 20px;
  margin-top: 0;
  height: 100%;
  align-items: center; }

#pieDePagina__iconoWS {
  width: 50px;
  border-radius: 50%; }

#pieDePagina__iconoEM {
  width: 50px;
  border-radius: 50%; }

#pieDePagina__iconoIG {
  width: 50px;
  border-radius: 50%; }

#pieDePagina__iconoFB {
  width: 50px;
  border-radius: 50%; }

@media (max-width: 800px) {
  .top-image img {
    display: none; }
  .Formulario__contacto {
    max-width: 100%;
    margin: 0px;
    padding: 0px; }
  #pieDePagina {
    flex-wrap: nowrap; }
  #pieDePagina__iconoWS {
    width: 40px;
    height: 40px;
    border-radius: 50%; }
  #pieDePagina__iconoEM {
    width: 40px;
    height: 40px;
    border-radius: 50%; }
  #pieDePagina__iconoFB {
    width: 40px;
    height: 40px;
    border-radius: 50%; }
  #pieDePagina__iconoIG {
    width: 40px;
    height: 40px;
    border-radius: 50%; }
  #myCarousel {
    max-width: 100%; }
  .contenedor__contable {
    display: block; }
  .contenedor__juridica {
    display: block; }
  .contenedor__sucesiones {
    display: block; } }
